
/*Variables con la gama de colores, tiempos de las animaciones y transiciones*/

:root{

    --Color-Contenedores: #990100;
    --Color-Letras: #B90504;
    --Color-Fondo: black;
    --Color-titulo: white;
    --Tiempo-Transicion-Promedio: 0.5s;
    --Tiempo-Animacion-Promedio: 1s; 
}

/*Reinicio de la pagina*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/*Estilos base de la pagina para ajustar todos los valores de las diferentes etiquetas de manera general*/

body{
    background-color: var(--Color-Fondo);
    color: var(--Color-Letras);
}
a{
    text-decoration: none;
    color: var(--Color-titulo);
}
ol,ul{
    list-style: none;
}
li{
    margin-left: 7px;
}

/*Header de la pagina, organización del header, barra de navegación y apartados*/

.Encabezado{

    width: 100%;
    height: 20vh;
    background-color: var(--Color-Fondo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-bottom: 10px;
    
}
.Navbar{
    width: 50%;
    height: 100%;
}
.listas-apartados{

    width: 100%;
    height: 100%;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: flex-end;
}
.logo{
    width: 350px;
    height: 100px;
}

/*Contenido principal, secciones de la pagina principal*/

/*Seccion 1*/
.section-1{
    width: 100%;
    padding: 5px;
    margin-top: 100px;
}
.subtitulo{

    color: var(--Color-titulo);
    font-size: 25px;
}
.parrafo{

    text-align: justify;
}
.imagen{
    width: 400px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
}

/*Seccion 2*/
.section-2{

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 100px;
}
.video{

    width: 450px;
    height: 300px;
}

/*Seccion 3*/
.section-3{

    margin-top: 100px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px
}

/*Seccion 4*/
.section-4{
   
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 100px;
    margin-bottom: 100px;
}

/*Footer de la pagina*/
.Pie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 150px;
    padding: 10px;
}
.contenedor-form{

    width: 100%;
    height: 40px;
    position: relative;
}
.subtituloform{

    font-size: 25px;
}
.labels{
    color: var(--Color-titulo);
    font-size: 16px;
}
.campo{

    background-color: var(--Color-Contenedores);
    height: 30px;
    padding: 2px 4px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.button{
    width: 100px;
    height: 30px;
    background-color: var(--Color-Contenedores);
    border: none;
    border-radius: 5px;

}

/*Pseudo clases y pseudo elementos*/
.parrafo::before{
    content: "⟶ ";
    color: var(--Color-Fondo);
}
.subtitulo::after{
    content: " ⟵";
    color: var(--Color-Letras);
}
.subtitulo::before{
    content: "⟶ ";
    color: var(--Color-Letras);
}
.campo::placeholder{
    color: black;
}


/*Efecto del campo y ultimos detalles de la pagina inicial de Horrortown-2005*/


